CopyRightLabel {
	BACKGROUND-COLOR: #cacaca; COLOR: #888888; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.SectionHeaderText:hover {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.MenuRootActive:hover {
	BACKGROUND-COLOR: #bb3333; COLOR: #000000; TEXT-DECORATION: underline
}
TD {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuRoot:link {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff
}
.SearchContainer {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-SIZE: 8pt
}
.MessageBox {
	COLOR: #00ff00; FONT-FAMILY: Verdana; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.ContentText {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.NavigationCrumb {
	COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.TopText:link {
	COLOR: #aeaeda
}
.SearchResultHeader {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.MenuItem:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.NegativeButton {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.NavigationCrumb:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TABLE {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A:hover {
	COLOR: #000066; TEXT-DECORATION: underline
}
.ErrorMessage {
	COLOR: #ff0000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotHelp {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SlotBodyLabel {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.SectionHeaderText:active {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.SearchResult {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.MenuCategoryActive {
	BACKGROUND-COLOR: #cacaca; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.TopLanguageText {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.MenuRootActive {
	BACKGROUND-COLOR: #bb3333; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ContentLabel {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.SlotHeader:hover {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.SearchPageLink {
	BACKGROUND-COLOR: #acacac; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.ContentTitle {
	FONT-FAMILY: Verdana; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.SectionHelp {
	BACKGROUND-COLOR: #eeeeee; COLOR: #777777; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuContainerTable:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.NavigationCrumb:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.SlotHeader:active {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MenuScrollBar {
	BACKGROUND-COLOR: #888888; FONT-FAMILY: Verdana; FONT-SIZE: 4pt
}
A.MenuCategoryActive:visited {
	COLOR: #bb3333; TEXT-DECORATION: none
}
A.MenuItemActive:link {
	COLOR: #bb3333; TEXT-DECORATION: none
}
A.MenuContainerTable:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.SlotPageLinks {
	BACKGROUND-COLOR: #cccccc; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotBodyText {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuItemActive:active {
	COLOR: #bb3333; TEXT-DECORATION: none
}
.BorderContainer {
	BACKGROUND-COLOR: #666666; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SlotHeader {
	BACKGROUND-COLOR: #dadada; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.MenuItem {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A:visited {
	COLOR: #000066; TEXT-DECORATION: underline
}
.MenuItemActive {
	BACKGROUND-COLOR: #ffffff; COLOR: #bb3333; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A:link {
	COLOR: #000066; TEXT-DECORATION: underline
}
.TopNavigationInfoBar {
	BACKGROUND-COLOR: #bb3333
}
.MenuCategory {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.SlotSectionHelp {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A:active {
	COLOR: #000066; TEXT-DECORATION: underline
}
.NavigationSeperator {
	BACKGROUND-COLOR: #bbbbbb; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SearchResultNumberLabel {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.TopText:visited {
	COLOR: #aeaeda
}
A.NavigationCrumb:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.MenuRootActive:link {
	BACKGROUND-COLOR: #bb3333; COLOR: #000000
}
A.MenuRoot:hover {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff; TEXT-DECORATION: underline
}
.SelectionLegend {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.TopQuickLink:link {
	COLOR: #aeaeda; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.MenuRootActive:active {
	BACKGROUND-COLOR: #bb3333; COLOR: #000000
}
.TopQuickLink {
	COLOR: #aeaeda; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotSection {
	BACKGROUND-COLOR: #eaeaea
}
.NavigationBackground {
	BACKGROUND-COLOR: #ffffff
}
INPUT {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuRoot:active {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff
}
A.SlotHeader:visited {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.MenuRoot {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SearchLabel {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.MenuItemActive:visited {
	COLOR: #bb3333; TEXT-DECORATION: none
}
.SlotBodyURL {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuCategory:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.MenuRoot:visited {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff
}
.TopUserName {
	COLOR: #aeaeda; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.MenuItem:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.TopText {
	COLOR: #aeaeda; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SlotSortOrder {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.SectionHeader:active {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.TopQuickLink:visited {
	COLOR: #aeaeda; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.TopLabel {
	COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.MenuCategory:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.TopText:active {
	COLOR: #aeaeda; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuItem:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.MenuRootActive:visited {
	BACKGROUND-COLOR: #bb3333; COLOR: #000000
}
.SearchPageSelectedLink {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.TemplateContainer {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.ContentHelp {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuContainerTable:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.SectionHeaderText {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.WarningInfo {
	COLOR: #ffff00; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotArea {
	BACKGROUND-COLOR: #ffffff
}
.SlotDescription {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.SectionHeader:link {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
BODY {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SlotSectionBorder {
	BACKGROUND-COLOR: #cacaca; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.SectionHeaderText:visited {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.SectionHeader {
	BACKGROUND-COLOR: #eaeaea; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.TopSearch {
	COLOR: #eeeeee; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.TopIconDesc {
	COLOR: #dddddd; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.PageActiveLink {
	COLOR: #ff0000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotSectionText {
	BACKGROUND-COLOR: #cacaca; FONT-FAMILY: Verdana; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
A.MenuCategory:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.MenuCategoryActive:active {
	COLOR: #bb3333; TEXT-DECORATION: none
}
A.SectionHeader:hover {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.TopContainer {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SlotHeaderText {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.SectionHeader:visited {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.MenuItem:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.SlotDate {
	COLOR: #999999; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotBody {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
A.MenuCategoryActive:link {
	COLOR: #bb3333; TEXT-DECORATION: none
}
.PositiveButton {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.MenuContainerTable {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.SlotLetterIndex {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.SlotBodyHelp {
	COLOR: #888888; FONT-SIZE: 8pt
}
.TopLanguageTitle {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.ContentSubTitle {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.SlotHeader:link {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.SectionHeaderText:link {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.MenuContainerTable:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.MenuCategory:active {
	COLOR: #000000; TEXT-DECORATION: none
}